md-input-container {
    margin-bottom: 8px;
}

.title .mat-input-element, .title >>> .mat-input-placeholder-wrapper {
    font-size: 20px;
}

.description .mat-input-element, .description >>> .mat-input-placeholder-wrapper{
    font-size: 13px;
    bottom: 0px;
    top: inherit;
}