.contain-question{
    display: block;
}
:host >>> .contain-question.active-test  {
    padding: 4px 0px;
}

.active-test >>> md-card {
    border-left: 4px solid #4d90fe;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
}